version: 2
registries:
  pytorch:
    type: python-index
    url: https://download.pytorch.org/whl
updates:
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
  open-pull-requests-limit: 10
  reviewers:
    - neuro-inc/mlops
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
  reviewers:
    - neuro-inc/mlops
  open-pull-requests-limit: 10
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
  reviewers:
    - neuro-inc/mlops
  allow:
    - dependency-type: "all"
  ignore:
    - dependency-name: "torch*"
  registries:
    - pytorch
  insecure-external-code-execution: allow
  open-pull-requests-limit: 10
